.canvas {
	display: flex;
	justify-content: center;
}
.main {
	padding: 0.5%;
	width: 70%;
}

.header {}

.navigation {
	margin-top: 0.5%;
	padding: 1%;
	background-color: lightblue;
}

.content-canvas {
	margin-top: 0.5%;

	display: flex;
	flex-direction: row;
}
.content-navigation {
	margin-right: 0.5%;
	width: 20%;
	padding: 1%;

	background-color: lightblue;
}
.content {
	width: 80%;
	padding: 1%;

	background-color: lightblue;
}

.footer {
	margin-top: 0.5%;
	padding: 1%;

	background-color: black;
	color: white;
	text-align: center;
}

.button {
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: darkblue;
	padding: 13px 26px;
}

.button.is-fullwidth {
	display: block;
	width: auto;

	margin-top: 1%;
	margin-bottom: 1%;
}